/*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
  
   
#define SYM 1
#define UPPER 2
#define LOWER 3

#define MO_TOG(layer) &mo_tog layer layer


/ {
    behaviors {
        tap: tap {
            compatible = "zmk,behavior-macro-one-param";
                #binding-cells = <1>;
                bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            };
    };
    behaviors {
  	    mtt: mod_tap_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <125>;
            bindings = <&tap>, <&tap>;
        };
    };
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
    };
    behaviors {
        td_clk_bt: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        tog_out: tog_out {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };
    behaviors {
        td_lpar: lpar {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt LBKT LPAR>, <&mtt LT LBRC>;
        };
    };
    behaviors {
        td_lpar_t: lpar_t {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt LPAR T>, <&mtt LBRC LBKT>;
        };
    };
    behaviors {
        td_rpar: rpar {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt RBKT RPAR>, <&mtt GT RBRC>;
        };
    };
    behaviors {
        td_rpar_y: rpar_y {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt RPAR Y>, <&mtt RBRC RBKT>;
        };
    };
    behaviors {
        td_n_comma_lt: n_comma_lt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt COMMA N>, <&kp LT>;
        };
    };
    behaviors {
        td_m_dot_gt: m_dot_gt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt DOT M>, <&kp GT>;
        };
    };
    behaviors {
        td_g_slash: g_slash {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt SLASH G>, <&kp BACKSLASH>;
        };
    };
    behaviors {
        td_o_plus_eq: o_plus_eq {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt PLUS O>, <&kp KP_EQUAL>;
        };
    };
    behaviors {
        td_a_ctrl_star: a_ctrl_star {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&bhm LCTRL A>, <&bhm LCTRL STAR>;
        };
    };
    behaviors {
        td_q_tab_hash: a_ctrl_star {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mtt TAB Q>, <&kp HASH>;
        };
    };
    behaviors {
        td_0_alt_ctrl: 0_alt_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mt LALT N0>, <&mt LCTRL N0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
//        -----------------------------------------------------------------------------------------------------------------

// ctrl-a via taphold 0 a
// alt-n via hold a, hold n
// tap t, hold (, double tap [, double hold {
// upper-dollar to flash bootloader
// Double click trackpad in upper to clear BT when pairing new device
// Toggle bluetooth or usb with upper+space-hold
// upper has WASD, lower has ijkl arrows
// shift is sticky
// quick access:
// double hold + for =
//             / for \
//             , for <
//             . for >
//             a for *
//             q for #

                 &mkp LCLK                                                                                             &mkp RCLK
    &kp ESC                        &kp LGUI                              &mkp LCLK                        &kp C_AC_BACK                       &kp C_AC_SEARCH
    &td_q_tab_hash   &mtt N1 W     &mtt N2 E   &mtt N3 R   &td_lpar_t    &td_rpar_y      &mtt UNDER U     &mtt MINUS I     &td_o_plus_eq      &mtt AT P
    &td_a_ctrl_star  &mtt N4 S     &mtt N5 D   &mtt N6 F   &td_g_slash   &mtt COLON H    &mtt SEMI J      &mtt APOS K      &mtt DQT L         &kp BSPC
    &sk LSHIFT       &mtt N7 Z     &mtt N8 X   &mtt N9 C   &mtt QMARK V  &mtt EXCL B     &td_n_comma_lt   &td_m_dot_gt     &mtt PIPE DOLLAR   &kp ENTER
    &tog LOWER                     &td_0_alt_ctrl                        &kp SPACE                        &tog SYM                            &tog UPPER
            >;
        };


        sym_layer {

            bindings = <        
                 &kp SCRL_UP                                                                                     &kp SCRL_DOWN
    &trans                       &trans                              &trans                           &trans                            &trans
    &mtt GRAVE TILDE  &kp N1     &kp N2      &kp N3    &td_lpar      &td_rpar        &kp UNDER        &kp MINUS        &kp PLUS         &kp AT
    &bhm LCTRL STAR   &kp N4     &kp N5      &kp N6    &kp SLASH     &kp COLON       &kp SEMI         &kp APOS         &kp DQT          &kp DEL
    &trans            &kp N7     &kp N8      &kp N9    &kp QMARK     &kp EXCL        &kp COMMA        &kp DOT          &trans           &kp ENTER
    &trans                       &trans                              &kp SPACE                        &trans                            &trans
            >;
        };

        upper_layer {

            bindings = <
                 &msc SCRL_UP                                                                                       &msc SCRL_DOWN
    &bt  BT_SEL 0            &bt BT_SEL 1                         &td_clk_bt                     &bt BT_SEL 2                        &bt BT_SEL 3
    &none         &kp UP     &none       &sys_reset &kp LBRC      &kp RBRC      &kp LT           &kp GT             &kp PIPE         &kp KP_EQUAL
    &kp  LEFT     &kp DOWN   &kp RIGHT   &none      &kp BSLH      &kp AMPS      &kp LBRC         &kp RBRC           &kp CARET        &kp BSPC
    &trans        &none      &none       &none      &bl BL_DEC    &bl BL_TOG    &bl BL_INC       &ext_power EP_TOG  &bootloader      &kp ENTER
    &trans                   &trans                               &tog_out OUT_TOG SPACE         &trans                              &trans
            >;
        };

        lower_layer {

            bindings = <
                 &kp PAGE_UP                                                                                          &kp PAGE_DOWN
    &trans          &trans                                           &mkp LCLK                   &trans                            &trans
    &trans          &trans       &trans     &trans     &trans        &kp PAGE_UP   &msc SCRL_UP  &kp UP          &msc SCRL_DOWN    &trans
    &trans          &trans       &trans     &trans     &trans        &kp PAGE_DOWN &kp LEFT      &kp DOWN        &kp RIGHT         &trans
    &trans          &trans       &trans     &trans     &trans        &trans        &trans        &trans          &trans            &trans
    &trans                       &trans                              &trans                      &trans                            &trans
            >;
        };

    };
};

